.accordion .pointer {
    cursor: pointer;
}

.accordion .wp-list-table tr td:last-child {
    width: 60px;
}

.accordion .form-table tr td:first-child {
    font-weight: bold;
    vertical-align: top;
    width: 100px;
}

.accordion .form-table input[type="text"],
.accordion .form-table textarea {
    width: 100%;
}
